.sticker-group {
	display:flex;
	flex-wrap: wrap;
	justify-content:flex-start;
	width:800px;
	margin: 58.25px auto;
}

.sticker {
	color: #0f940f;
	width: 200px;
	height: 200px;
	border: 1px solid #008800;
	overflow: hidden;
	padding: 5px;
	/*
	&:nth-child(4n) {
	}
	*/
}